## Run this notebook to view tables of metrics

In [10]:
import pandas as pd
import glob

In [11]:
#Uncomment this if you want to print all csv files in your working directory
# for file in glob.glob("*.csv"):
#    df = pr.read_csv(file)
#    print(df)

In [26]:
opencv_data = pd.read_csv('Github_stats_cvat.csv')
opencv_data

,Period,Open PR,Open issues,Stars,PR opened,PR merged,PR closed,Issue opened,Issue closed
0,2019-01-01,0,49,1032,22,23,25,23,18
1,2019-02-01,4,64,1152,19,14,15,26,11
2,2019-03-01,6,67,1311,18,14,16,12,9
3,2019-04-01,5,71,1541,17,18,18,12,8
4,2019-05-01,4,66,1674,53,51,54,18,23
5,2019-06-01,4,67,1866,16,13,16,12,11
6,2019-07-01,4,85,2021,22,19,22,47,29
7,2019-08-01,2,87,2200,43,41,45,25,23
8,2019-09-01,6,87,2344,42,34,38,37,37
9,2019-10-01,5,96,2475,25,24,26,39,30
10,2019-10-07,8,98,2495,5,2,2,4,2

In [27]:
opencv_data = pd.read_csv('Github_stats_open_model_zoo.csv')
opencv_data

,Period,Open PR,Open issues,Stars,PR opened,PR merged,PR closed,Issue opened,Issue closed
0,2019-01-01,3,5,365,4,1,1,3,1
1,2019-02-01,2,6,427,2,3,3,1,0
2,2019-03-01,4,3,489,8,5,6,8,11
3,2019-04-01,5,1,594,18,14,17,5,7
4,2019-05-01,9,6,704,30,21,26,13,8
5,2019-06-01,13,6,1025,16,8,12,8,8
6,2019-07-01,14,9,1140,51,48,50,7,4
7,2019-08-01,17,12,1231,62,55,59,8,5
8,2019-09-01,19,14,1317,81,70,79,9,7
9,2019-10-01,33,5,1405,103,68,89,8,17
10,2019-10-07,31,7,1409,19,19,21,3,1

In [28]:
opencv_data = pd.read_csv('Github_stats_openvino_training_extensions.csv')
opencv_data

,Period,Open PR,Open issues,Stars,PR opened,PR merged,PR closed,Issue opened,Issue closed
0,2019-01-01,1,6,23,5,5,5,6,4
1,2019-02-01,1,5,37,2,2,2,2,3
2,2019-03-01,2,12,44,3,2,2,9,2
3,2019-04-01,4,16,75,4,2,2,7,3
4,2019-05-01,4,13,99,9,8,9,2,5
5,2019-06-01,3,15,157,7,8,8,5,3
6,2019-07-01,3,13,207,6,6,6,4,6
7,2019-08-01,4,6,237,15,13,14,10,17
8,2019-09-01,1,6,319,13,14,16,10,10
9,2019-10-01,0,6,366,5,6,6,8,8
10,2019-10-07,0,5,371,0,0,0,1,2

In [29]:
opencv_data = pd.read_csv('Github_stats_dldt.csv')
opencv_data

,Period,Open PR,Open issues,Stars,PR opened,PR merged,PR closed,Issue opened,Issue closed
0,2019-01-01,3,29,308,5,2,5,14,4
1,2019-02-01,6,39,375,5,2,2,14,4
2,2019-03-01,10,46,415,4,0,0,9,2
3,2019-04-01,10,55,465,1,1,1,17,8
4,2019-05-01,14,72,526,6,2,2,24,7
5,2019-06-01,16,87,596,5,2,3,21,6
6,2019-07-01,18,103,672,5,1,3,24,8
7,2019-08-01,19,115,725,2,0,1,18,6
8,2019-09-01,20,118,776,4,1,3,14,11
9,2019-10-01,29,130,814,10,0,1,19,7
10,2019-10-07,31,137,822,8,3,6,8,1